<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>{{"nav.About" | translate}}</h2>
      <p>{{"about.des" | translate}}</p>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <img src="assets/img/about-img.png" class="img-fluid" alt="">
      </div>
      <div class="col-lg-8 pt-4 pt-lg-0 content">
        <h3>{{"home.title" | translate}}</h3>
        <p class="fst-italic">{{"home.des" | translate}}</p>
        <div class="row">
          <div class="col-lg-6">
            <ul>
              <li>
                <i class="bi bi-chevron-right"></i> <strong> &nbsp;{{"about.Birthday" | translate}}:</strong>
                <span> &nbsp;{{"about.Birthday_text" | translate}} </span></li>
              <li>
                <i class="bi bi-chevron-right"></i> <strong>{{"about.Website" | translate}}:</strong>
                <span> &nbsp;{{"about.Website_url" | translate}}</span>
              </li>
              <li>
                <i class="bi bi-chevron-right"></i> <strong>{{"about.Phone" | translate}}:</strong>
                <span> &nbsp;{{"about.Phone_text" | translate}}</span></li>
              <li>
                <i class="bi bi-chevron-right"></i> <strong>{{"about.Live" | translate}}:</strong>
                <span> &nbsp;{{"about.Live_text" | translate}}</span>
              </li>
              <li>
                <i class="bi bi-chevron-right"></i> <strong>{{"about.birtCity" | translate}}:</strong>
                <span> &nbsp;{{"about.birtCity_text" | translate}}</span>
              </li>
            </ul>
          </div>
          <div class="col-lg-6">
            <ul>
              <li><i class="bi bi-chevron-right"></i>
                <strong>{{"about.Age" | translate}}:</strong>
                <span> &nbsp;
                  {{age}} {{"about.Year" | translate}}- {{month}}    {{"about.Months" | translate}}
                  {{days}}  {{"about.Days" | translate}}</span>
              </li>
              <li><i class="bi bi-chevron-right"></i> <strong>{{"about.Degree" | translate}}:</strong>
                <span> &nbsp;{{"about.Degree_text" | translate}}</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>{{"about.contact_text" | translate}}:</strong>
                <span> &nbsp;{{"about.contact_text" | translate}}</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>{{"about.Freelance" | translate}}:</strong>
                <span> &nbsp;{{"about.Freelance_status" | translate}}</span></li>
            </ul>
          </div>
        </div>
        <p><span class="cot">"</span>{{"about.bio" | translate}}<span class="cot">"</span></p>
      </div>
    </div>

  </div>
</section><!-- End About Section -->
