<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="container">
    <h3>{{'Name' | translate}}</h3>
    <p>{{"home.des" | translate}}</p>
    <div class="social-links">
      <a href="https://twitter.com/ALtyABOfficial" class="twitter"><i class="bx bxl-twitter"></i></a>
      <a href="https://linkedin.com/in/Elteyab-Hassan" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      <a href="https://github/tayeb-ali" class="github"><i class="bx bxl-github"></i></a>
    </div>
    <div class="copyright">
      {{"Copyright" | translate}} {{year}}<strong><span> Elteyab </span></strong>. {{"All Rights Reserved" | translate}}
    </div>
  </div>
</footer>
<!-- End Footer -->
