
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center">
  <div class="container" data-aos="zoom-in" data-aos-delay="100">
    <h1>{{"Name" | translate}}</h1>
    <p>
      <ngx-typed-js
        [strings]="['Freelancer.', 'Full Stack Developer.', 'Cryptocurrency trading expert.', 'Expert in creating smart contracts.']"
        [shuffle]="true" [typeSpeed]="40" [loop]="true">
        I'm <span class="typing"></span>
      </ngx-typed-js>
    </p>

    <div class="social-links">
      <a target="_blank" href="https://twitter.com/ALtyABOfficial" class="twitter"><i class="bx bxl-twitter"></i></a>
      <a target="_blank" href="https://github.com/Tayeb-Ali" class="github"><i class="bx bxl-github"></i></a>
      <!--      <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>-->
      <!--      <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>-->
      <a target="_blank" href="https://www.linkedin.com/in/elteyab-hassan/" class="linkedin"><i
        class="bx bxl-linkedin"></i></a>
    </div>

  </div>
</section><!-- End Hero -->
