<!-- ======= Facts Section ======= -->
<section id="facts" class="facts">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>{{"facts.title" | translate}}</h2>
      <p>{{"facts.des" | translate}}</p>
    </div>

    <div class="row">

      <div class="col-lg-3 col-md-6">
        <div class="count-box">
          <i class="bi bi-emoji-smile"></i>
          <span data-purecounter-start="0" data-purecounter-end="25" data-purecounter-duration="1"
                class="purecounter"></span>
          <p>{{"facts.Happy_Clients" | translate}}</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
        <div class="count-box">
          <i class="bi bi-journal-richtext"></i>
          <span data-purecounter-start="0" data-purecounter-end="22" data-purecounter-duration="1"
                class="purecounter"></span>
          <p>{{"facts.Projects" | translate}}</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
        <div class="count-box">
          <i class="bi bi-headset"></i>
          <span data-purecounter-start="0" data-purecounter-end="11520" data-purecounter-duration="1"
                class="purecounter"></span>
          <p>{{"facts.Hours_Support" | translate}}</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
        <div class="count-box">
          <i class="bi bi-award"></i>
          <span data-purecounter-start="0" data-purecounter-end="4" data-purecounter-duration="1"
                class="purecounter"></span>
          <p>{{"facts.Awards" | translate}}</p>
        </div>
      </div>

    </div>

  </div>
</section>
<!-- End Facts Section -->
