<!-- ======= Resume Section ======= -->
<section id="resume" class="resume">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>{{"resume.title" | translate}}</h2>
      <p>{{"resume.des" | translate}}</p>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <h3 class="resume-title">{{"Education" | translate}}</h3>
        <div class="resume-item pb-0">
          <h4>{{"about.Degree_text" | translate}}</h4>
          <p><em>
            {{"education.des" | translate}}
          </em>
          </p>
          <ul>
            <li>{{"education.from" | translate}}</li>
            <li><a href="https://fu.edu.sd/" target="_blank">{{"about.Website" | translate}} - </a></li>
            <li>{{"education.address" | translate}}</li>
          </ul>
        </div>

        <div class="resume-item">
          <h4>{{"education.training" | translate}}</h4>
          <p><em>
            {{"education.training_des" | translate}}
          </em>
          </p>
          <ul>
            <li>{{"education.training_with" | translate}}</li>
            <li>{{"education.address" | translate}}</li>
          </ul>
          <p><em>
            {{"education.training_des" | translate}}
          </em>
          </p>
          <ul>
            <li>{{"education.training_with2" | translate}}</li>
            <li>{{"education.address" | translate}}</li>
          </ul>
        </div>

      </div>
      <div class="col-lg-6">
        <h3 class="resume-title">{{"Experience" | translate}}</h3>
        <div class="resume-item">
          <h4>{{"work.position1" | translate}}</h4>
          <h5>{{"work.time1" | translate}}</h5>
          <h4> {{"work.company1" | translate}}</h4>
          <p><em>{{"work.location1" | translate}}</em></p>
          <ul>
            <b>Achievements/Tasks</b>
            <li>SadadPay mobile App</li>
            <li>CBS WebSite</li>
            <li>CBS Erp System</li>
            <li>Expo sudan Mobile App</li>
          </ul>

        </div>
        <div class="resume-item">
          <h4>{{"work.position2" | translate}}</h4>
          <h5>{{"work.time2" | translate}}</h5>
          <h4> {{"work.company2" | translate}}</h4>
          <p><em>{{"work.location2" | translate}}</em></p>
          <ul>
            <b>Achievements/Tasks</b>
            <li>work with Team a Almudaqiq to build Erp and
              Accounting System
            </li>
          </ul>
        </div>

        <div class="resume-item">
          <h4>{{"work.position3" | translate}}</h4>
          <h5>{{"work.time3" | translate}}</h5>
          <h4> {{"work.company3" | translate}}</h4>
          <p><em>{{"work.location3" | translate}}</em></p>
          <ul>
            <b>Achievements/Tasks</b>
            <li>Taqeem System- I Building a real estate appraisal
              management system based on the recommendations
              of the Saudi Authority for Accredited Valuers
            </li>
          </ul>
        </div>


        <div class="resume-item">
          <h4>{{"work.position4" | translate}}</h4>
          <h5>{{"work.time4" | translate}}</h5>
          <h4> {{"work.company4" | translate}}</h4>
          <p><em>{{"work.location4" | translate}}</em></p>
          <ul>
            <b>Achievements/Tasks</b>
            <li> otlub.io pos system link</li>
            <li> Deta Erp System and website</li>
            <li> Adaa Full Erp System</li>
            <li> E-Adaa LMS Backend</li>
            <li> Adaa qrEMenu System for restaurant</li>
            <li> Hawjah mobile application for medical personnel link</li>

          </ul>
        </div>
      </div>
    </div>

  </div>
</section>
<!-- End Resume Section -->
